/* XHTML & CSS Structure OWNED BY ppdg2 http://yourcreation.fr/ */

html, body{
	background:url("../img/background.png");	
	font-size:14px;
}

#logo {
	background:url("../img/logo.png") no-repeat center;
	margin: auto;
	margin-top:30px;
	margin-bottom:30px;
	width:90%;
	height:60px;	
}

.icon {
	border: 1px #000 solid;
	border-radius: 2px;	
}

.left {
	float:left;
	margin-right:5%;
	width:200px;
}

.leftrefresh{
	float:left;
	margin-left:5%;
	width:350px;
}
.right {
	float:right;
	margin-left:5%;
	width:200px;
	text-align:left;
}

.right ul{
	margin-top:0px;
}

.right ul a{
	color:#f0ef94;	
}

.right ul a:hover{
	color:#e8e8e8;	
}

a{
	color:#4f3637;
	text-decoration : none;	
}
a:hover{
	color:#4f3637;
	text-decoration : underline;	
}
a:visited{
	color:#757575;
	text-decoration : none;	
}

input, textarea {
	border-radius:3px;	
	border: 1px #b9b9ba solid;
}

#content {
	position:relative;
	background: #fff;
	border-radius:8px;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	//box-shadow: 0px 0px 10px inset;
	box-shadow: 0px 15px 8px -8px black;
	display: inline-block;
	margin-bottom:50px;
}

#content-form {
	position:relative;
	background: #fff;
	border-radius:8px;
	width:40%;
	margin-left:30%;
	margin-right:30%;
	//box-shadow: 0px 0px 10px inset;
	box-shadow: 0px 15px 8px -8px black;
	display: inline-block;
	margin-bottom:50px;
}

.text {
	position:relative;
	margin:30px;
	background: #e5e5e5;
	border-radius:8px;
	width:auto;
	padding:5px;
	text-align: center;
	box-shadow: 0px 0px 3px inset;
	font-size:13px;
}

.textmenu {
	position:relative;
	margin:30px;
	background: #e5e5e5;
	border-radius:8px;
	width:auto;
	padding:5px;
	text-align: center;
	box-shadow: 0px 0px 3px inset;
	font-size:16px;
}

p {
	position:relative;
	margin:30px;
	width:auto;
}

span{
	color:#0b6e7a;	
}
span.bull {
	color:#ff6600;	
}

table {
	position:relative;
	width:90%;
	margin:auto;
	margin-bottom:30px;
	border:1px #e5e5e5 solid;
	border-radius:8px;
}

table th{
	background: #e5e5e5;	
}

table td{
	text-align:center;
	border:1px #e5e5e5 solid;
	font-size:13px;
}

table td.name{
	text-align:left;
	padding-left:5px;
}

.categorie
{
	background:url('../img/classic.png') no-repeat;
	width:70px;
	height:20px;
}

.cat-window {background-position: 0 -475px;}
.cat-apple {background-position: 0 -175px;}
.cat-dvdrip {background-position: 0 0;}
.cat-dvdrip-vostfr {background-position: 0 -25px;}
.cat-emissions {background-position: 0 -400px;}
.cat-doc {background-position: 0 -300px;}
.cat-doc-hd {background-position: 0 -275px;}
.cat-tvpack {background-position: 0 -650px;}
.cat-tv-vostfr {background-position: 0 -575px;}
.cat-tv-vf {background-position: 0 -625px;}
.cat-tv-hd-vostfr {background-position: 0 -125px;}
.cat-tv-hd-vf {background-position: 0 -100px;}
.cat-hd-720p {background-position: 0 -75px;}
.cat-hd-1080p {background-position: 0 -50px;}
.cat-full-br {background-position: 0 -200px;}
.cat-divers {background-position: 0 -250px;}
.cat-dvdr {background-position: 0 -350px;}
.cat-dvdr-series {background-position: 0 -375px;}
.cat-anime {background-position: 0 -150px;}
.cat-tv-vo {background-position: 0 -550px;}
.cat-concert {background-position: 0 -450px;}
.cat-ebook {background-position: 0 -225px;}
.cat-sport {background-position: 0 -600px;}
.cat-pc-game {background-position: 0 -425px;}
.cat-nitendo-ds {background-position: 0 -325px;}
.cat-wii {background-position: 0 -675px;}
.cat-xbox360 {background-position: 0 -700px;}
.cat-psp {background-position: 0 -525px;}
.cat-ps {background-position: 0 -500px;}
.cat-flac {background-position: 0 -725px;}


form{
	border: 0px #fff solid;	
}

input, textarea, select, option {
 background-color:#FFFFFF;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #d4d4d4;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #d4d4d4 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #d4d4d4;
 cursor:pointer;
 }
 
#logtime {
float:right;
width:450px
}

#alert {
   color:red;
}

.toggle-button {
	width: 16px;
	height: 16px;
    background:url('../img/cross.png');
}
 
.toggle-button.hide {
	width: 16px;
	height: 16px;
    background:url('../img/uncross.png');
}
